
<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      Buenos días, Miguel
      <p></p>
      <nb-toggle labelPosition="left" (change)="llamarActivador()">Mostrar otros productos </nb-toggle>
      <nb-card size="small">
        <b>¿Cómo se ven tus finanzas?</b>
      </nb-card>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <nb-list>
      <nb-list-item *ngFor="let producto of productos_lista">
        <ngx-producto *ngIf="producto.accountInformation.bank=='BANCO_1' || otros" [producto]="producto"></ngx-producto>
      </nb-list-item>
    </nb-list>
  </div>

  <div class="col-12">
    <nb-card size="small">
      
    </nb-card>
  </div>
</div>

